{% extends "base.html"%} {% block title %} Glossary {% endblock %} {%block
content %}
<h1>glossary</h1>
<a href="/home" class="btn btn-primary">broken needs fixed</a>
<a href="/rule1" class="btn btn-primary">Rule One</a>
<a href="/rule2" class="btn btn-primary">Rule Two</a>
<a href="/rule3" class="btn btn-primary">Rule Three</a>
<a href="/rule4" class="btn btn-primary">Rule Four</a>
<a href="/rule5" class="btn btn-primary">Rule Five</a>
<a href="/rule6" class="btn btn-primary">Rule Six</a>
<a href="/rule7" class="btn btn-primary">Rule Seven</a>
<a href="/rule8" class="btn btn-primary">Rule Eight</a>

<style>
  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
  }
</style>

<footer>{% endblock%}</footer>
