<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <title>{% block title %} Home {% endblock %}</title>
  </head>
  <body class="body" style="background-color: #6a94af;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#212834;">
	      <a class="navbar-brand" href="/">
     <img src="https://raw.githubusercontent.com/HCIGiovanniFanclub/HCIProject/5992255239370318a06c06e6f8099b9c3cb8bb18/assets/trojanedited.svg" height="50" class="d-inline-blockalign-top"alt=""> The Trojans</a> 
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white" id="home" href="/">Home</a>
          <a class="nav-item nav-link text-white" id="more" href="/more">Learn More</a>
          <a class="nav-item nav-link text-white" id="team" href="/team">Project Team</a>
          <a class="nav-item nav-link text-white" id="contact" href="/contact">Contact</a>
          <a class="nav-item nav-link text-white" id="rules" href="/glossary">Rules</a>
          </div>
      </div>
      	  <div class="justify-content-end">
		  <ul class="navbar-nav ml-auto nav-flex-icons">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user"></i>
				</a>
			<div class="dropdown-menu dropdown-menu-right dropdown-default justify-content-right"
			aria-labelledby="navbarDropdownMenuLink-333">
			  {% if user.is_authenticated %}
				<a class="dropdown-item" href="/logout">Logout</a>
				{% else %}
				<a class="dropdown-item" href="/login">Login</a>
				{% endif %}
			</div>
			</li>
	      </ul>
          </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true)%} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
      <section id="hero">
        <div class="homecontainer">
          <div>
          <h1>Hello, <span></span></h1>
          <h1>Let's learn about<span></span></h1>
          <h1>Design<span></span></h1>
          <a href="/glossary" type="button" class="cta">Get Started</a>
          </div>
        </div>
      </section>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </div>
  <section id="footer">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color:#212834;">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-0">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/more" class="text-white">Learn More</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/team" class="text-white">Project Team</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/glossary" class="text-white">Rules</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/contact" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-2" />

      <!-- Section: Text -->
      <section class="mb-2">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Designed by The Trojans for Human Interface Computing (CS-32301-001) at Kent State University
              as the second part of the class project.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->


      <!-- Section: Social media -->
      <section class="mb-2">
        <center>Get In Touch With Our Team!</center>
      	<!-- Facebook -->
      	<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fa fa-facebook"></i></a>

     	 <!-- Twitter -->
      	<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fa fa-twitter"></i></a>

      	<!-- Google -->
      	<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fa fa-google"></i></a>

      	<!-- Instagram -->
     	 <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fa fa-instagram"></i></a>

      	<!-- Linkedin -->
      	<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
      	<!-- Github -->
     		<a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/HCIGiovanniFanclub" role="button"><i class="fa fa-github"></i></a>
    	</section>
    <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      Copyright © 2023 
      <a class="text-white" href="/"
         >The Trojans.</a>
      All Rights Reserved.
    </div>
    <!-- Copyright -->
  </footer>
</section>
  <!-- Footer -->
  </body>
</html>

<!--top section-->
<!--end top-->


