{% extends "base.html"%} {% block title %} Rule 7 {% endblock %} {%block content
%}
<h2 align="center">Rule 7: Support Internal Locus of Control</h2>
<hr
  style = "
  border:none;
  color:rgb(1, 1, 26);
  background-color:rgb(11, 1, 52);
  color:rgb(3, 41, 56); 
  height:10px; 
  width:device-width;
  

  "
>
<p align="left" style="font-size:x-large;width:1200px;height:250px;margin-top:50px">
  <img src="../static/rule7Example.jpg" alt="testing" style="float:left;width:350px;height:350px;margin-right:250px;">
  Allow your users to be the initiators of
  actions. Give users the sense that they are in full control of events
  occurring in the digital space. Earn their trust as you design the system to
  behave as they expect.
</p>

<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>

<a href="/rule6" class="btn btn-primary">Previous Rule</a>
<a href="/rule8" class="btn btn-primary">Next Rule</a>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="/rule7bad" class="btn btn-primary">Bad Example</a>

{% endblock%}
