{% extends "base.html"%} {% block title %} Rule 2 {% endblock %} {%block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='rule.css')}}"
/>
<div id="rulecontainer">
  <div class="ruletext">
    <h2>Rule 2: Enable Frequent Shortcuts</h2>
    <hr />
    <p>
      <img
        src="https://i.pinimg.com/736x/d7/00/96/d7009605d355b64d2b27ddb108ef4816.jpg"
        id="exampleimage"
      />
      With increased use comes the demand for quicker methods of completing
      tasks. For example, both Windows and Mac provide users with keyboard
      shortcuts for copying and pasting, so as the user becomes more
      experienced, they can navigate and operate the user interface more quickly
      and effortlessly. Windows users have many shortcuts availible to them. The
      most obvious is the copy and paste shortcut. Pressing control + c copies
      the highlighted text and control + v pastes the copied text.
    </p>
    <div id="btnitem">
      <a href="/rule1" class="btn">Previous Rule</a>
      <a href="/rule3" class="btn">Next Rule</a>
      <a href="/rule2bad" class="btn">Bad Example</a>
    </div>
  </div>
</div>

{% endblock%}
