{% extends "base.html"%} {% block title %} Rule 2 {% endblock %} {%block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='rule.css')}}"
/>
<div id="rulecontainer">
  <div class="ruletext">
    <h2>Rule 1: Strive For Consistency</h2>
    <hr />
    <p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_Homepage.svg/2560px-Google_Homepage.svg.png"
        id="exampleimage"
      />
      Strive for consistency by utilizing familiar icons, colors, menu
      hierarchy, call-to-actions, and user flows when designing similar
      situations and sequence of actions. Standardizing the way information is
      conveyed ensures users are able to apply knowledge from one click to
      another; without the need to learn new representations for the same
      actions. Consistency plays an important role by helping users become
      familiar with the digital landscape of your product so they can achieve
      their goals more easily. Google does a great job at keeping their website
      consistent. Whenevr you enter a Google application they always keep the
      user in the top right corner. The home page also hasn't changed much from
      its original design.
    </p>
    <div id="btnitem">
      <a href="/glossary" class="btn">Glossary</a>
      <a href="/rule2" class="btn">Next Rule</a>
      <a href="/rule1bad" class="btn">Bad Example</a>
    </div>
  </div>
</div>

{% endblock%}
