{% extends "base.html"%} {% block title %} Rule 3 {% endblock %} {%block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='rule.css')}}"
/>
<div id="rulecontainer">
  <div class="ruletext">
    <h2>Rule 7: Support Internal Locus of Control</h2>
    <hr />
    <p>
      <img src="../static/rule7Example.jpg" id="exampleimage" />
      Designers should aim to offer users obvious ways to reverse their actions.
      These reversals should be permitted at various points whether it occurs
      after a single action, a data entry or a whole sequence of actions.
    </p>
    <div id="btnitem">
      <a href="/rule6" class="btn">Previous Rule</a>
      <a href="/rule8" class="btn">Next Rule</a>
      <a href="/rule7bad" class="btn">Bad Example</a>
    </div>
  </div>
</div>

{% endblock%}
