{% extends "base.html"%} {% block title %} Rule 8 {% endblock %} {%block content
%}
<h2 align="center">Rule 8: Reduce Short Term Memory Load</h2>
<hr
  style = "
  border:none;
  color:rgb(1, 1, 26);
  background-color:rgb(11, 1, 52);
  color:rgb(3, 41, 56); 
  height:10px; 
  width:device-width;
  

  "
>
<p align="left" style="font-size:medium;width:1100px;height:300px;margin-top:50px">
  <img src="../static/rule8Example.png" alt="testing" style="float:left;width:250px;height:250px;margin-right:100px;">
  Human attention is limited and we are only capable of maintaining around five 
  items in our short-term memory at one time.
  Therefore, interfaces should be as simple as possible with proper information
  hierarchy, and choosing recognition over recall. Recognizing something is
  always easier than recall because recognition involves perceiving cues that
  help us reach into our vast memory and allowing relevant information to
  surface. For example, we often find the format of multiple choice questions
  easier than short answer questions on a test because it only requires us to
  recognize the answer rather than recall it from our memory. Jakob Nielsen, a
  user advocate who’s been called one of the “world’s most influential
  designers” by Bloomberg Businessweek has invented several usability methods
  including heuristic evaluation. Recognition over recall is one of Nielsen’s
  ten usability heuristics for interface design.
</p>

<div style="position:relative;bottom:5%">
  <a href="/rule7" class="btn btn-primary">Previous Rule</a>
  <a href="/glossary" class="btn btn-primary">Glossary</a>
  <a href="/rule8bad" class="btn btn-primary">Bad Example</a>
</div>

{% endblock%}