{% extends "base.html"%} {% block title %} Rule 5 {% endblock %} {%block content
%}
<h1>
  Offer simple error handling. No one likes to be told they’re wrong, especially
  your users. Systems should be designed to be as fool-proof as possible, but
  when unavoidable errors occur, ensure users are provided with simple,
  intuitive step-by-step instructions to solve the problem as quickly and
  painlessly as possible. For example, flag the text fields where the users
  forgot to provide input in an online form.
</h1>
<a href="/rule4" class="btn btn-primary">Previous Rule</a>
<a href="/rule6" class="btn btn-primary">Next Rule</a>

{% endblock%}
