{% extends "base.html"%} {% block title %} Rule 1 Bad {% endblock %} {%block content
  %}
  
  
  <div>
  <h2><center> Rule One: Strive For Consistency</center></h2>
  
  <!-- bar below rule one title-->
  <hr
    style = "
    border:none;
    color:rgb(1, 1, 26);
    background-color:rgb(11, 1, 52);
    color:rgb(3, 41, 56); 
    height:10px; 
    width:device-width;
    
  
    "
  >
  </div>
  
  <div><med> 
    Strive for consistency by utilizing familiar icons, colors, menu hierarchy,
    call-to-actions, and user flows when designing similar situations and sequence
    of actions. Standardizing the way information is conveyed ensures users are
    able to apply knowledge from one click to another; without the need to learn
    new representations for the same actions. Consistency plays an important role
    by helping users become familiar with the digital landscape of your product so
    they can achieve their goals more easily.
  </med></div>
  
  
  <!--space between text and button-->
  <div> &nbsp; </div>
  <div> &emsp; </div>
  <!--button-->
  <div>
  <a
    href="/home" 
    class="btn btn-primary"
    >Home
  </a>
  <a 
    href="/rule2" 
    class="btn btn-primary"
    >Next Rule
  </a>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;
  <a 
    href="/rule1bad" 
    class="btn btn-primary"
    >Example
  </a>
  </div>
  
  <!--space after button-->
  <div> &nbsp; </div>
  
  {% endblock%}
  