{% extends "base.html"%} {% block title %} Rule 3 {% endblock %} {%block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='rule.css')}}"
/>
<div id="rulecontainer">
  <div class="ruletext">
    <h2>Rule 8: Reduce Short Term Memory Load</h2>
    <hr />
    <p>
      <img src="../static/rule8Example.png" id="exampleimage" />
      Designers should aim to offer users obvious ways to reverse their actions.
      These reversals should be permitted at various points whether it occurs
      after a single action, a data entry or a whole sequence of actions.
    </p>
    <div id="btnitem">
      <a href="/rule7" class="btn">Previous Rule</a>
      <a href="/glossary" class="btn">Glossary</a>
      <a href="/rule8bad" class="btn">Bad Example</a>
    </div>
  </div>
</div>

{% endblock%}
