{% extends "base.html"%} {% block title %} Rule 2 {% endblock %} {%block content
%}
<h2 align="center">Rule 2: Enable frequent users to use shortcuts</h2>
<hr
  style = "
  border:none;
  color:rgb(1, 1, 26);
  background-color:rgb(11, 1, 52);
  color:rgb(3, 41, 56); 
  height:10px; 
  width:device-width;
  

  "
>
<p align="left" style="font-size:x-large;width:1200px;height:250px;margin-top:50px; margin-right: auto;">
  <img src="https://i.pinimg.com/736x/d7/00/96/d7009605d355b64d2b27ddb108ef4816.jpg" alt="testing" style="float:left;width:250px;height:500px;margin-right:20px;">
  With increased use comes the demand
  for quicker methods of completing tasks. For example, both Windows and Mac
  provide users with keyboard shortcuts for copying and pasting, so as the user
  becomes more experienced, they can navigate and operate the user interface
  more quickly and effortlessly. Windows users have many shortcuts availible to them.
  The most obvious is the copy and paste shortcut. Pressing control + c copies 
  the highlighted text and control + v pastes the copied text. 
</p>

  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  <div>&emsp;</div>
  

<a href="/rule1" class="btn btn-primary">Previous Rule</a>
<a href="/rule3" class="btn btn-primary">Next Rule</a>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="/rule2bad" class="btn btn-primary">Bad Example</a>


<!--<style>footer{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}</style> -->

{% endblock%}