{% extends "base.html"%} {% block title %} Rule 3 {% endblock %} {%block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='rule.css')}}"
/>
<div id="rulecontainer">
  <div class="ruletext">
    <h2>Rule 5: Offer Simple Error Handling</h2>
    <hr />
    <p>
      <img src="../static/rule5Example.png" id="exampleimage" />
      No one likes to be told they’re wrong, especially your users. Systems
      should be designed to be as fool-proof as possible, but when unavoidable
      errors occur, ensure users are provided with simple, intuitive
      step-by-step instructions to solve the problem as quickly and painlessly
      as possible. For example, flag the text fields where the users forgot to
      provide input in an online form.
    </p>
    <div id="btnitem">
      <a href="/rule4" class="btn">Previous Rule</a>
      <a href="/rule6" class="btn">Next Rule</a>
      <a href="/rule5bad" class="btn">Bad Example</a>
    </div>
  </div>
</div>

{% endblock%}
