{% extends "base.html"%} {% block title %} Rule 1 {% endblock %} {%block content
%}
<h1>
  Strive for consistency by utilizing familiar icons, colors, menu hierarchy,
  call-to-actions, and user flows when designing similar situations and sequence
  of actions. Standardizing the way information is conveyed ensures users are
  able to apply knowledge from one click to another; without the need to learn
  new representations for the same actions. Consistency plays an important role
  by helping users become familiar with the digital landscape of your product so
  they can achieve their goals more easily.
</h1>

<a href="/glossary" class="btn btn-primary">Previous Rule</a>
<a href="/rule2" class="btn btn-primary">Next Rule</a>
{% endblock%}
