{% extends "base.html"%} {% block title %} Rule 7 {% endblock %} {%block content
    %}
<h2 align="center">Rule 7: Support Internal Locus of Control</h2>
<hr
    style = "
    border:none;
    color:rgb(1, 1, 26);
    background-color:rgb(11, 1, 52);
    color:rgb(3, 41, 56); 
    height:10px; 
    width:device-width;
      
    
    "
>
<p align="left" style="font-size:xx-large;width:1000px;height:250px;margin-top:50px">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Does each button do what it says?
</p>
<div style="position:relative;bottom:5%">
    <a href="/rule7" class="btn btn-primary">Glossary</a>
    <a href="/rule6" class="btn btn-primary">Rule 7</a>
    <a href="/rule8" class="btn btn-primary">Rule 6</a>
    <a href="/glossary" class="btn btn-primary">Rule 8</a>
</div>

{% endblock%}