{% extends "base.html"%} {% block title %} Rule 2 {% endblock %} {%block content
%}
<h1>
  Enable frequent users to use shortcuts. With increased use comes the demand
  for quicker methods of completing tasks. For example, both Windows and Mac
  provide users with keyboard shortcuts for copying and pasting, so as the user
  becomes more experienced, they can navigate and operate the user interface
  more quickly and effortlessly.
</h1>

<a href="/rule1" class="btn btn-primary">Previous Rule</a>
<a href="/rule3" class="btn btn-primary">Next Rule</a>

{% endblock%}
