{% extends "base.html"%} {% block title %} Rule 4 {% endblock %} {%block content
%}
<h2 align="center">Rule 4: Design Dialog to Yield Closure</h2>
<hr
  style = "
  border:none;
  color:rgb(1, 1, 26);
  background-color:rgb(11, 1, 52);
  color:rgb(3, 41, 56); 
  height:10px; 
  width:device-width;
  

  "
>
<p align="left" style="font-size:x-large;width:1200px;height:250px;margin-top:50px">
  <img src="../assets/CE0060b.png" alt="testing" style="float:left;width:250px;height:250px;margin-right:250px;">
  Don’t keep your users guessing. Tell them
  what their action has led them to. For example, users would appreciate a
  “Thank You” message and a proof of purchase receipt when they’ve completed an
  online purchase.
</p>
<a href="/rule3" class="btn btn-primary">Previous Rule</a>
<a href="/rule5" class="btn btn-primary">Next Rule</a>

<style>footer{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}</style>

<footer>{% endblock%}</footer>