{% extends "base.html"%} {% block title %} Team {% endblock %} {%block content
%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!--<h2 class="h1-responsive font-weight-bold text-center my-4">Project Team</h2>
<div class="container text-center">
  <div class="row">
      <div class="col-md-2">
          <img src="image1.jpg" class="img-fluid">
          <p>Daniel Koirala</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
      </div>
      <div class="col-md-2">
          <img src="image2.jpg" class="img-fluid">
          <p>Kedrick Karasek</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
      </div>
      <div class="col-md-2">
          <img src="image3.jpg" class="img-fluid">
          <p>Jacob Dunay</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
      </div>
      <div class="col-md-2">
          <img src="image4.jpg" class="img-fluid">
          <p>Dominic Babusci</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
      </div>
      <div class="col-md-2">
          <img src="image5.jpg" class="img-fluid">
          <p>Isak Sabelko</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
          <a href="#" class="btn btn-primary"><i class="bi bi-link"></i></a>
      </div>
  </div>
</div>-->
<div class="whos-speaking-area speakers pad100">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title text-center">
                  <div class="title-text mb50">
                      <h2>Project Team</h2>
                  </div>
              </div>
          </div>
          <!-- /col end-->
      </div>
      <!-- /.row  end-->
      <div class="row mb50">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
              <div class="speakers xs-mb30">
                  <div class="spk-img">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="trainer-img" />
                      <ul>
                          <li>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="spk-info">
                      <h3>Daniel Koirala</h3>
                      <p>Giovanni Enthusiast</p>
                  </div>
              </div>
          </div>
          <!-- /col end-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
              <div class="speakers xs-mb30">
                  <div class="spk-img">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="trainer-img" />
                      <ul>
                          <li>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="spk-info">
                      <h3>Kedrick Karasek</h3>
                      <p>Giovanni Enthusiast</p>
                  </div>
              </div>
          </div>
          <!-- /col end-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
              <div class="speakers xs-mb30">
                  <div class="spk-img">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="trainer-img" />
                      <ul>
                          <li>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="spk-info">
                      <h3>Jacob Dunay</h3>
                      <p>Giovanni Enthusiast</p>
                  </div>
              </div>
          </div>
          <!-- /col end-->
          <div class="col-xl-3 col-lg-3 d-md-none d-lg-block col-sm-12">
              <div class="speakers">
                  <div class="spk-img">
                      <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="trainer-img" />
                      <ul>
                          <li>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="spk-info">
                      <h3>Dominic Babusci</h3>
                      <p>Giovanni Enthusiast</p>
                  </div>
              </div>
          </div>
          <!-- /col end-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="speakers xs-mb30">
                <div class="spk-img">
                    <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="trainer-img" />
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-camera"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="spk-info">
                    <h3>Isak Sabelko</h3>
                    <p>Giovanni Enthusiast</p>
                </div>
            </div>
        </div>
        <!--Column End-->
      </div>
      <!-- /row end-->
  </div>
  <!-- /container end-->
</div>


{% endblock%}
