#rulecontainer h2 {
  text-align: center;
  color: orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#rulecontainer hr {
  border: none;
  color: rgb(1, 1, 26);
  background-color: rgb(11, 1, 52);
  color: rgb(3, 41, 56);
  height: 10px;
  width: device-width;
}

#rulecontainer p {
  font-size: x-large;
  width: device-width;
  height: 50vh;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  clear: left;
}

img {
  max-width: 50%;
  max-height: 50%;
  margin-right: 20px;
  float: left;
}
.ruletext {
  flex-grow: 1;
}

#btnitem .btn {
  display: inline-block;
  font-size: 1.8rem;
  width: 20rem;
  text-align: center;
  border: 2px solid orange;
  color: orange;
  background-color: #183445;
  display: inline-block;
  padding: 10px 20px;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}

#btnitem .btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 orange;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  color: white;
  background-color: orange;
}

#btnitem .btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#btnitem {
  display: flex;
  justify-content: space-between;
}
