* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.secretcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 20px 0 20px;
}
.secretcontainer .heading {
  width: 50%;
  padding-bottom: 40px;
}

.secretcontainer .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 5px;
  border-bottom: 3px solid #222;
}

.secretcontainer .heading h3 span {
  color: orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.secretcontainer .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.secretcontainer .box .dream {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: left;
}

.secretcontainer .box .dream img {
  width: 100%;
  padding-bottom: 30px;
  border-radius: 5px;
}
