@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}
a {
  text-decoration: none;
}

.homecontainer {
  min-height: 65vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.glossarycontainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
/*hero section*/
#hero {
  background-image: url(./1218911.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: orange;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero .cta {
  display: inline-block;
  padding: 10px 20px;
  color: orange;
  background-color: transparent;
  border: 2px solid orange;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: white;
  background-color: orange;
}
/* end hero section */

/* glossary section */
#glossary {
}
#glossary .glossary {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#glossary .glossary-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#glossary .glossary-title span {
  color: rgb(230, 151, 5);
}

#glossary .glossary-top p {
  color: rgb(25, 16, 1);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300px;
  letter-spacing: 0.05rem;
}
#glossary .glossary-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#glossary .glossary-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: basis 100%;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-image: url(./rule-box.png);
  background-size: cover;
  margin: 10px 4%;
}
#glossary .glossary-item span {
  color: rgb(230, 151, 5);
}

/* end glossary */

/* keyframes section */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: orange;
    font-weight: 500;
  }
}
/*end keyframes*/
