@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

#footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

.homecontainer {
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glossarycontainer {
  min-height: 55vh;
  width: 90%;
  display: flex;
  align-items: top center;
  justify-content: center;
}
/*hero section*/
#hero {
  background-image: url(./1218911.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: orange;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero .cta {
  display: inline-block;
  padding: 10px 20px;
  color: orange;
  background-color: transparent;
  border: 2px solid orange;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: white;
  background-color: orange;
}
/* end hero section */

/* glossary section */
#glossary {
}

#glossary .glossary {
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
}
#glossary .glossary-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: left;
}
#glossary .glossary-title span {
  color: rgb(230, 151, 5);
}
#glossary .glossary-top {
  display: flex;
  align-items: center;
  justify-content: top center;
  flex-wrap: wrap;
}

#glossary .glossary-top p {
  color: rgb(25, 16, 1);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300px;
  letter-spacing: 0.05rem;
}
#glossary .glossary-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#glossary .glossary-item {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: basis 100%;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-image: url(./rule-box.png);
  background-size: cover;
  margin: 10px 5%;
}

#glossary .glossary-item span {
  color: rgb(230, 151, 5);
}

/* end glossary */

/* keyframes section */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: orange;
    font-weight: 500;
  }
}
/*end keyframes*/

.whos-speaking-area .speakers {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #dee2e6;
  border-radius: 6px;
}
.whos-speaking-area .speakers:hover {
  -webkit-box-shadow: 0 0 6px 5px #ddd;
  box-shadow: 0 0 6px 5px #ddd;
  border-radius: 6px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #dee2e6;
}
.whos-speaking-area .speakers .spk-img {
  position: relative;
}
.whos-speaking-area .speakers .spk-img:before {
  background: rgba(91, 69, 213, 0.8);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 5;
}
.whos-speaking-area .speakers .spk-img:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.whos-speaking-area .speakers .spk-img img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.whos-speaking-area .speakers .spk-img ul {
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 40%;
  width: 100px;
  line-height: 3;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.whos-speaking-area .speakers .spk-img ul:before {
  position: absolute;
  content: "";
  height: 110px;
  width: 110px;
  background: transparent;
  top: -15%;
  left: -15px;
  border: 1px solid #fff;
  -webkit-transform: rotate(44deg) scale(1.4);
  -ms-transform: rotate(44deg) scale(1.4);
  transform: rotate(44deg) scale(1.4);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.whos-speaking-area .speakers .spk-img ul li {
  display: inline-block;
  margin: 0 3px;
  -webkit-transform: perspective(50px) rotatey(80deg);
  transform: perspective(50px) rotatey(80deg);
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
  margin: 0 5px;
}
.whos-speaking-area .speakers .spk-img ul li a i.fa {
  color: rgba(255, 78, 0, 0.8);
  font-size: 18px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 28px;
  color: #fff;
  height: 28px;
  line-height: 21px;
  text-align: center;
}
.whos-speaking-area .speakers .spk-img ul li a i.fa:hover {
  color: #cf057c;
}
.whos-speaking-area .speakers .spk-img ul li:nth-child(1) {
  -webkit-transform: translate3d(-53px, -50px, 0);
  transform: translate3d(-53px, -50px, 0);
}
.whos-speaking-area .speakers .spk-img ul li:nth-child(2) {
  -webkit-transform: translate3d(53px, -50px, 0);
  transform: translate3d(53px, -50px, 0);
}
.whos-speaking-area .speakers .spk-img ul li:nth-child(3) {
  -webkit-transform: translate3d(-53px, 50px, 0);
  transform: translate3d(-53px, 50px, 0);
}
.whos-speaking-area .speakers .spk-img ul li:nth-child(4) {
  -webkit-transform: translate3d(53px, 50px, 0);
  transform: translate3d(53px, 50px, 0);
}
.whos-speaking-area .speakers .spk-img:hover ul {
  left: 35%;
  opacity: 1;
  z-index: 9;
}
.whos-speaking-area .speakers .spk-img:hover ul:before {
  opacity: 1;
  -webkit-transform: rotate(44deg) scale(1);
  -ms-transform: rotate(44deg) scale(1);
  transform: rotate(44deg) scale(1);
}
.whos-speaking-area .speakers .spk-img:hover ul li:nth-child(1),
.whos-speaking-area .speakers .spk-img:hover ul li:nth-child(2),
.whos-speaking-area .speakers .spk-img:hover ul li:nth-child(3),
.whos-speaking-area .speakers .spk-img:hover ul li:nth-child(4) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.whos-speaking-area .speakers .spk-info {
  text-align: center;
  padding: 30px 0;
}
.whos-speaking-area .speakers .spk-info h3 {
  color: #252525;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: capitalize;
}
.whos-speaking-area .speakers .spk-info h3:hover {
  color: #4125dd;
}
.whos-speaking-area .speakers .spk-info p {
  font-size: 15px;
  margin-bottom: 0;
  color: #656565;
}

.whos-speaking-area-two .title-text h2 {
  color: #fff;
}

.whos-speaking-area-two .speakers {
  position: relative;
  overflow: hidden;
}
.whos-speaking-area-two .speakers:hover img {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.whos-speaking-area-two .speakers img {
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.whos-speaking-area-two .speakers .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(91, 69, 213, 0.9);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.whos-speaking-area-two .speakers:hover .img-overlay {
  opacity: 1;
}
.whos-speaking-area-two .speakers .name a {
  position: absolute;
  bottom: -20%;
  left: 10%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.whos-speaking-area-two .speakers .name a:hover {
  color: #cf057c;
}
.whos-speaking-area-two .speakers:hover .name a {
  bottom: 10%;
}
.whos-speaking-area-two .speakers .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 23%;
  left: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.whos-speaking-area-two .speakers .social-icons li {
  margin-right: 10px;
}
.whos-speaking-area-two .speakers .social-icons li a {
  color: #fff;
}
.whos-speaking-area-two .speakers .social-icons li a:hover {
  color: #252525;
}
.whos-speaking-area-two .speakers:hover .social-icons {
  left: 27px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  outline: none;
}
.mb50 {
  margin-bottom: 50px;
}

.login-dark {
  height:1000px;
  background:#475d62 url(../static/star-sky3.jpg);
  background-size:cover;
  position:relative;
}

.login-dark::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: -1;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}
